body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'ProFont';
  src: url('./assets/fonts/ProFont.ttf');
}

:root {
  --primary-color: #282c34;
  --primary-white-color: #ffffff;
  --primary-foreground-color: #ff8945;
  --primary-text-input-bg-color: #50545a;
}